.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-top: 20px;
    margin-left: 20px;
}

#email {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

.footer{
    background-color: #212529;
    text-align: center;
    padding-top: 10px;
    height: 50px;
    margin-top: 10px;
}
.row{
    margin-left: 5px;
}